

.app-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  position: relative;
}
.app-footer {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.app-footer-txt{
  font-size: 12px;
  text-align: center;
}

.app-body{
  text-align: left;
  padding: 15px;
}


.btn-search{
  position: absolute;
  right: 3px;
  top: 44px;
  color: white;
  background: #222;
  font-weight: solid;
  border: 1px;
  font-size: 21px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0px;
}
.btn-search:hover{
  background-color: white;
  color: gray;
  border-color: white;
}

.btn-search:focus{
  outline: 0px;
}

.fpt-row{
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
}
.fpt-row > span{
  overflow: hidden;
  padding: 0 10px;
}



a{
  color: #222;
}

a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
